@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}
@plugin "daisyui/theme" {
  name: 'light';
  --color-primary: #14253e;
  --color-secondary: #4e5d6e;
}
@plugin "daisyui/theme" {
  name: 'dark';
  default: true;
  --color-primary: #eeeeee;
  --color-secondary: #e8e8e8;
}

:root {
  --color-brand: #14253e;
}

.bg-brand {
  background-color: var(--color-brand);
}

.text-brand {
  color: var(--color-brand);
}
